//variables

$hover-color: #C271FF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}
.header{
    background: url("images/pic_1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
}
nav .nav-item a.nav-link:hover {
    color: $hover-color !important;
}
.header-content button{
    background-color: $hover-color;
}
.header-profiles span {
    color: $hover-color;
}